.tasks-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: blueviolet;
    text-align: center;
    border-radius: 10px;
}
.tasks-container h2{
    color: white;
    
}

.task-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form{
    margin-top: 20px;
}

input[type="text"]{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #e93f3f;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;
}
.task-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.task-list li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.task-list li.completed::before{
    content: '✔️';
    color: green;
}
.task-list li.pending::before{
    content: '⏳';
    color: orange;
}
.task-list li.failed::before{
    content: '❌';
    color: red;
}
.task-list li button{
    margin-left: auto;
    padding: 4px 8px;
    font-size: 14px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}